
#app{
  width: 100vw;
  height: 100vh;
  /* No se porque app tiene un height no apto para flexbox */
}

.containerReact{
  display: flex;
  align-items: center;
  width:100%;
  height:100%;
  padding: 1rem;
  gap: 20px;
}

/* Estilos Sidebar empiezan aqui */
.sidebarContainer{
  background-image:linear-gradient(to bottom, #4a3d90, #6a5ec1); 
  
  height:98%; 
  width:250px;

  border-radius: 1.5rem;
}
