
#app{
  width: 100%;
  height: 100%;
  min-height: fit-content;
  min-width: fit-content;
  display: flex;
  font-family: "Roboto";
  /* No se porque app tiene un height no apto para flexbox */
  /* pos si se pudo meterle flex xd */
}

.containerReact{
  display: flex;
  align-items: center;
  width:100%;
  height: 100%;
  min-height: 100vh;
  gap: 20px;
  box-sizing: border-box;
  
}

/* Estilos Sidebar empiezan aqui */
.sidebarContainer{
  /* background-image:linear-gradient(to bottom, #4a3d90, #6a5ec1);  */
  
  /* height: auto;*/
  height: 96vh;
  /* min-height: 50vh;
  max-height: 96vh;  */
  width:300px;
  flex-shrink: 0;
  border-radius: 0 1.5rem 1.5rem 0;
  background-color:#141423;
  /* overflow: scroll; */
  /* overflow-y: hidden; */
}

@font-face{
  font-family:'Roboto';
  src: url('../../assets/fonts/Roboto-VariableFont_wdth,wght.ttf');
}

